# Data Science TASK 2

## A. The Campus Calculator

In [1]:
#1_Operations performed by the campus calculator
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b == 0:
        return "Error"
    return a / b

In [2]:
#2_User's choice of operation
while True:
       print("Campus Calculator")
       print("1. Add")
       print("2. Subtract")
       print("3. Multiply")
       print("4. Divide")
       print("5. Exit")
       
       choice = input("Choose operation (1-5): ")
       
       if choice == '5':
           print("Goodbye")
           break

Campus Calculator
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit

Choose operation (1-5):  5

Goodbye

In [3]:
#Conditional statements to know the operation to perform
if choice == '1':
    result = add(num1, num2)
elif choice == '2':
    result = subtract(num1, num2)
elif choice == '3':
    result = multiply(num1, num2)
elif choice == '4':
    result = divide(num1, num2)
    
    print(f"Result: {result}")
if choice not in ('1', '2', '3', '4'):
        print("Invalid choice. Try again.")
    
try:
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))
except:
    print("Invalid number")

Invalid choice. Try again.

Enter first number:  5
Enter second number:  0

## B. The Class Result Assistant

In [4]:
#This was an alternative way I found would be perfect for the B part of the task2
#I had this idea during the additional time
#I wanted to do this part again using this approach, but I got stucked somewhere

students = {}
num_students = int(input("How many students? "))

for i in range(num_students):
    name = input(f"Enter student {i+1} name: ")
    num_subjects = int(input(f"How many subjects does {name} study: "))
    
    subject_scores = {}

    for j in range(num_subjects):
        subject = input(f"Enter {name} subject {j+1} name: ")
        score = float(input(f"What is the score for {subject}: "))
        subject_scores[subject] = score
    
students[name] = subject_scores

How many students?  6
Enter student 1 name:  Halima
How many subjects does Halima study:  5
Enter Halima subject 1 name:  Maths
What is the score for Maths:  65
Enter Halima subject 2 name:  Science
What is the score for Science:  55
Enter Halima subject 3 name:  English
What is the score for English:  100
Enter Halima subject 4 name:  Social
What is the score for Social:  45
Enter Halima subject 5 name:  Dagbani
What is the score for Dagbani:  39
Enter student 2 name:  Salpawuni
How many subjects does Salpawuni study:  5
Enter Salpawuni subject 1 name:  Maths
What is the score for Maths:  65
Enter Salpawuni subject 2 name:  Science
What is the score for Science:  55
Enter Salpawuni subject 3 name:  English
What is the score for English:  96
Enter Salpawuni subject 4 name:  Social
What is the score for Social:  75
Enter Salpawuni subject 5 name:  Dagbani
What is the score for Dagbani:  67
Enter student 3 name:  Tungteeya
How many subjects does Tungteeya study:  5
Enter Tungteeya subject 1 name:  Maths
What is the score for Maths:  81
Enter Tungteeya subject 2 name:  Science
What is the score for Science:  79
Enter Tungteeya subject 3 name:  English
What is the score for English:  100
Enter Tungteeya subject 4 name:  Social
What is the score for Social:  63
Enter Tungteeya subject 5 name:  Dagbani
What is the score for Dagbani:  86
Enter student 4 name:  Vanessa
How many subjects does Vanessa study:  5
Enter Vanessa subject 1 name:  Maths
What is the score for Maths:  57
Enter Vanessa subject 2 name:  Science
What is the score for Science:  48
Enter Vanessa subject 3 name:  English
What is the score for English:  73
Enter Vanessa subject 4 name:  Social
What is the score for Social:  46
Enter Vanessa subject 5 name:  Dagbani
What is the score for Dagbani:  38
Enter student 5 name:  Dahamani
How many subjects does Dahamani study:  5
Enter Dahamani subject 1 name:  Maths
What is the score for Maths:  37
Enter Dahamani subject 2 name:  Science
What is the score for Science:  51
Enter Dahamani subject 3 name:  English
What is the score for English:  13
Enter Dahamani subject 4 name:  Social
What is the score for Social:  63
Enter Dahamani subject 5 name:  Dagbani
What is the score for Dagbani:  71
Enter student 6 name:  Wunizooya
How many subjects does Wunizooya study:  5
Enter Wunizooya subject 1 name:  Maths
What is the score for Maths:  95
Enter Wunizooya subject 2 name:  Science
What is the score for Science:  100
Enter Wunizooya subject 3 name:  English
What is the score for English:  80
Enter Wunizooya subject 4 name:  Social
What is the score for Social:  75
Enter Wunizooya subject 5 name:  Dagbani
What is the score for Dagbani:  100

In [1]:
#This is where I had a challenge of not getting the average scores if I run it
#I decided to add it to what I did initially which is below

def calculate_average(subject_scores):
    scores = list(subject_scores.values())
    return sum(scores)/len(scores)
     
    for name, subjects in students.items():
        avg_score = calculate_average(subjects)
        print(f"{name}: Average = {avg_score}")

### Names of students and their test scores

In [20]:
students_scores = {"Halima":[65, 55, 100, 45, 39], "Salpawuni":[65, 55, 96, 75, 67],
                   "Tungteeya":[81, 79, 100, 63, 86],"Vanessa":[57, 48, 73, 46, 38],
                   "Dahamani":[37, 51, 13, 63, 71], "Wunizooya":[95, 100, 80, 75, 100]}

### The use of functions for averages

In [5]:
def calculate_average(scores):
    Average = sum(scores)/len(scores)
    return Average

In [6]:
#Halima's average score
average_halima = calculate_average(students_scores["Halima"])
print("Halima's average:", average_halima)

Halima's average: 60.8

In [7]:
#Salpawuni's average score
average_salpawuni = calculate_average(students_scores["Salpawuni"])
print("Salpawuni's average:", average_salpawuni)

Salpawuni's average: 71.6

In [8]:
#Tungteeya's average score
average_tungteeya = calculate_average(students_scores["Tungteeya"])
print("Tungteeya's average:", average_tungteeya)

Tungteeya's average: 81.8

In [9]:
#Vanessa's average score
average_vanessa = calculate_average(students_scores["Vanessa"])
print("Vanessa's average:", average_vanessa)

Vanessa's average: 52.4

In [10]:
#Dahamani's average score
average_dahamani = calculate_average(students_scores["Dahamani"])
print("Dahamani's average:", average_dahamani)

Dahamani's average: 47.0

In [11]:
#Wunizooya's average score
average_wunizooya = calculate_average(students_scores["Wunizooya"])
print("Wunizooya's average:", average_wunizooya)

Wunizooya's average: 90.0

### The use of conditional statements for grading

In [12]:
  def assign_grade(average):
       if average >= 90:
           return 'A'
       elif average >= 80:
           return 'B'
       elif average >= 70:
           return 'C'
       elif average >= 60:
           return 'D'
       elif average >= 50:
           return 'E'
       else:
           return 'F'

In [13]:
#Halima's grade
assign_grade(60.8)

'D'

In [14]:
#Salpawuni's grade
assign_grade(71.6)

'C'

In [15]:
#Tungteeya's grade
assign_grade(81.8)

'B'

In [16]:
#Vanessa's grade
assign_grade(52.4)

'E'

In [17]:
#Dahamani's grade
assign_grade(47.0)

'F'

In [18]:
#Wunizooya's grade
assign_grade(90.0)

'A'

In [19]:
#Results containing names of students,average scores and their grades
for name, scores in students_scores.items():
    avg = calculate_average(scores)
    grade = assign_grade(avg)
    print(f"{name}: Average = {avg:.2f}, Grade = {grade}")

Halima: Average = 60.80, Grade = D
Salpawuni: Average = 71.60, Grade = C
Tungteeya: Average = 81.80, Grade = B
Vanessa: Average = 52.40, Grade = E
Dahamani: Average = 47.00, Grade = F
Wunizooya: Average = 90.00, Grade = A